html, body {
  height: 100%;
  font-family: 'VT323', monospace;
  text-transform: uppercase;
  color: black;
  background-color: white;
  font-size: 50px;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 2px #ccc solid;
  background-color: white;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/mine.png") crimson;
}

div.hidden {
  background: gray;
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/flag.png") gray;
}

#message p{
  margin: 0.3em;
}

.reset{
  padding: 0.5em 1em;
  font-family: 'VT323', monospace;
  font-size: 32px;
  border-radius: 10%;
  align-content: center;
}

div.button-controls{
  display:flex;
  flex-direction: column;
}

